@import '@/assets/styles/variables.scss';

main#planning {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;

    #header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #result,
    .category {
        flex: 1;
        min-width: 500px;
    }
}