<template>
    <main id="planning">
        <div id="header">
            <v-btn
                @click="newCategory()"
                color="primary"
                small
                rounded>Novo</v-btn>
        </div>
        <result id="result" :groups="categories"></result>
        <category class="category" v-for="(category, index) in categories"
            :key="index"
            :group="category">
        </category>
    </main>
</template>
<script src="./Planning.js"/>
<style src="./Planning.scss" lang="scss" scoped></style>
