<template>
  <div id="modalDebt">
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on, attrs }">
        <v-btn class="mx-2 add-button" v-bind="attrs" v-on="on" fab dark>
          <v-icon dark>fas fa-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline"> Cadastro de Dívida </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="debt.description"
                  outlined
                  label="Descrição*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field v-model.number="debt.value" type="number" outlined label="Valor Parcela*"></v-text-field>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model.number="debt.totalInstallment"
                  type="number"
                  outlined
                  label="Qtd. Parcelas*"
                  required
                />
              </v-col>
              <v-col cols="4">
                <picker
                  label="Primeira Parcela"
                  :max="today"
                  @change-month="calculateCurrentNumberlDebt"
                />
              </v-col>
            </v-row>
          </v-container>
          <small>*Campos obrigatórios!</small>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="saveDebt">
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style src="./ModalDebt.scss" lang="scss" scoped></style>
<script src="./ModalDebt.js" />
