@import "@/assets/styles/variables.scss";

#modalDebt {
    .add-button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        background-color: $red;
    
        .v-icon {
             font-size: 15px;
         }
    }
}