<template>
  <v-row justify="center">
    <v-dialog v-model="isOpen" scrollable max-width="340px">
      <v-card>
        <v-card-title data-cy="modal-unique-title">A edição deve ser feita:</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-btn data-cy="btn-one-launch" color="blue darken-1" @click="selectOption(false)">
            Somente neste lançamento
          </v-btn>
          <v-btn data-cy="btn-all-launch" color="blue darken-1" @click="selectOption(true)">
            Todos lançamentos
          </v-btn>
        </v-card-text>
        <v-divider></v-divider>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

export default {
  props: ['launch', 'isOpen', 'processUpdate'],
  methods: {
    selectOption (isUpdateAll) {
      this.$emit('change', {isUpdateAll, launch: this.launch})
    }
  }
}
</script>

<style lang="scss" scoped>
  $dialog-max-height: 15%;
  .v-card__text {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
  }
</style>
