<template>
    <v-row justify="center">
    <v-dialog v-model="isOpen" scrollable max-width="340px">
      <v-card>
        <v-card-title data-cy="modal-unique-title">Lançamento de Planejamento</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <pre>{{ JSON.stringify(launch, null, 2) }}</pre>
          <v-btn data-cy="btn-update-planning" color="blue darken-1" @click="updatePlanningLaunch()">
            Atualizar Planejamento
          </v-btn>
          <v-btn data-cy="btn-just-launch" color="blue darken-1" @click="createLaunchCurrentMonth()">
            Somente neste lançamento
          </v-btn>
        </v-card-text>
        <v-divider></v-divider>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

import PlanningService from '@/services/planning/PlanningService.js'
import LaunchService from '@/services/launch/LaunchService.js'

const launchService = new LaunchService()

const planningService = new PlanningService()

export default {
  props: ['launch', 'isOpen'],
  methods: {
    updatePlanningLaunch () {
      planningService
        .updateLaunch(this.launch)
        .then(_ => this.$emit('change', this.launch))
    },

    createLaunchCurrentMonth () {
      launchService
        .saveLaunch(this.launch)
        .then(_ => {
          this.$emit('change', this.launch)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  $dialog-max-height: 15%;
  .v-card__text {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
  }
</style>
