<template>
    <div class="painel-group">
        <section class="header">
            <h4>{{ title }}</h4>
            <div class="options">
                <v-btn small icon @click="editLaunch({ status: 'scheduled', setting: {frequency: 'Mensal', option_frequency: 'unique', total_installments: 1}})">
                    <v-icon>fas fa-plus</v-icon>
                </v-btn>
                <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                        v-bind="attrs"
                        v-on="on"
                        icon>
                        <v-icon>fas fa-ellipsis-h</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                        v-for="(item, index) in items"
                        :key="index"
                        @click="swapContent(item.component, item.title)"
                        link>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </section>
        <section class="content"
            :is="currentContent"
            :swapContent="swapContent"
            :group="group"
            :launches="group.launches"
            @edit-launch="editLaunch"
            :launch="launch">
        </section>
    </div>
</template>

<style src='./Categories.scss' lang="scss" scoped/>
<script src='./Categories.js' />
