<template>
    <section>
        <modalUniqueLaunch
          @change="updateChangedLaunch"
          :isOpen="dialog"
          :launch="editLaunch"
          :processUpdate="_processUpdate">
        </modalUniqueLaunch>

        <modalPlanningLaunch
          @change="processModalPlanningLaunch"
          :launch="editLaunch"
          :isOpen="isOpenPlanningLaunchModal">
        </modalPlanningLaunch>
        <v-form @submit.prevent="save()" ref="form">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <div>
                            <label for="description">Descrição</label>
                            <v-text-field
                                id="description"
                                ref="description"
                                v-model="editLaunch.description"
                                autocomplete="off"
                                filled
                                rounded
                                dense
                                :rules="validator.descriptionRules">
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="value">Valor</label>
                            <v-text-field
                                id="value"
                                v-currency="editLaunch.value"
                                v-model="editLaunch.value"
                                prefix="R$ "
                                autocomplete="off"
                                filled
                                rounded
                                dense
                                :rules="validator.valueRules">
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="status">Status</label>
                            <v-select
                                id="status"
                                :items="status"
                                item-text="text"
                                item-value="value"
                                v-model="editLaunch.status"
                                filled
                                rounded
                                dense
                                :disabled="!isNewLaunch(editLaunch)">
                            </v-select>
                        </div>
                    </v-col>
                </v-row><v-divider></v-divider>

                <v-row>
                    <v-col cols="12"><h5>Frequência do Lançamento</h5></v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="frequency">Frequência</label>
                            <v-select
                                v-model="editLaunch.setting.frequency"
                                :items="frequencies"
                                filled
                                rounded
                                dense
                                :disabled="!isNewLaunch(editLaunch)">
                            </v-select>
                        </div>

                        <v-radio-group v-model="editLaunch.setting.option_frequency"
                              :disabled="!isNewLaunch(editLaunch)"
                              column>
                            <v-radio
                                data-cy="radio-frequency"
                                v-for="(frequency, index) in optionsFrequency"
                                :label="frequency.label"
                                :value="frequency.value"
                                :key=index
                                @change="changeOption(frequency.value)"
                            ></v-radio>
                        </v-radio-group>
                    </v-col>
                    <v-divider vertical></v-divider>

                    <v-col cols="12" sm="5">
                        <div v-if="showIf('repeat', 'parcel')">
                            <label for="installments">Parcelas</label>
                            <v-text-field
                                id="installments"
                                v-model.number="editLaunch.setting.total_installments"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>

                        <div v-if="showIf('parcel')">
                            <label for="value-installment">Valor Total</label>
                            <v-text-field
                                id="value-installment"
                                prefix="R$ "
                                v-model.number="valueInstallment"
                                readonly
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>

                        <div v-if="showIf('repeat', 'parcel')">
                            <label for="date">Vencimento 1ª Parcela</label>
                            <datePicker id="date"
                                :current-date="editLaunch.date"
                                @select-date="selectDate" />
                        </div>
                    </v-col>
                </v-row>
            </v-container>
            <div class="options">
                <v-btn
                    @click="swapContent('launches', group.title)"
                    small
                    elevation="0"
                >Voltar</v-btn>
                <v-btn
                    type="submit"
                    color="primary"
                    small
                    elevation="0"
                >Salvar</v-btn>
            </div>
        </v-form>
    </section>
</template>
<script>
import moment from 'moment'
import ModalUniqueLaunch from '../components/ModalUniqueLaunch'
import ModalPlanningLaunch from '../components/ModalPlanningLaunch'
import LaunchValidator from '../validators/LaunchValidator'
import LaunchService from '@/services/launch/LaunchService.js'

const launchService = new LaunchService()

export default {
  components: {
    modalUniqueLaunch: ModalUniqueLaunch,
    modalPlanningLaunch: ModalPlanningLaunch
  },
  props: ['group', 'launch', 'swapContent', 'currentMonth'],
  mounted: function () {
    this.$refs.description.focus()
  },
  created () {
    this.validator = new LaunchValidator()
    this.editLaunch = Object.assign({}, this.launch)
    this.editLaunch.date = this.editLaunch.date || this.currentMonth
  },
  computed: {
    valueInstallment () {
      return (this.editLaunch.value * this.editLaunch.setting.total_installments) | 0
    }
  },
  data: () => ({
    status: [
      { text: 'Agendado', value: 'scheduled' },
      { text: 'Atrasado', value: 'lated' },
      { text: 'Pago', value: 'paid' }
    ],
    frequencies: [
      'Semanal',
      'Quinzenal',
      'Mensal',
      'Bimestral',
      'Trimestral',
      'Semestral',
      'Anual'
    ],
    optionsFrequency: [
      { value: 'unique', label: 'Sem término' },
      { value: 'parcel', label: 'Será parcelado' },
      { value: 'repeat', label: 'Será repetido (mesmo valor)' }
    ],
    dialog: false,
    isOpenPlanningLaunchModal: false
  }),
  methods: {
    async save () {
      const valid = await this.$refs.form.validate()

      if (valid) {
        if (this.isNewLaunch(this.editLaunch)) this._saveNewLaunch(this.editLaunch)
        else this._updateLaunch(this.editLaunch)
      }
    },
    isNewLaunch (launch) {
      return !launch.id
    },
    _saveNewLaunch (launch) {
      launch.is_planning = false
      launch.category_id = this.group.id
      launchService
        .saveLaunch(launch)
        .then(response => {
          launch.id = response.id
          launch.setting.launch_id = response.id
          this.recalculateValue(launch)
          this.group.launches.push(launch)
          this.swapContent('launches', this.group.title)
        })
    },
    updateChangedLaunch (launchChanged) {
      this.dialog = false
      launchService
        .updateLaunch(launchChanged)
        .then(_ => {
          const index = this.group.launches.findIndex(launch => launch.id === launchChanged.launch.id)
          this.group.launches[index] = launchChanged.launch
          this.swapContent('launches', this.group.title)
        })
    },
    processModalPlanningLaunch (launchChanged) {
      this.isOpenPlanningLaunchModal = false
      this._processUpdate(launchChanged.setting.launch_id)
    },
    _updateLaunch (launch) {
      this.dialog = this._isOpenDialogEditSerie()
      this.isOpenPlanningLaunchModal = this.editLaunch.is_planning

      if (!this.dialog && !this.isOpenPlanningLaunchModal) {
        this.updateChangedLaunch({option: 'one', launch: launch})
      }
    },
    _isOpenDialogEditSerie () {
      return !this.launch.is_planning &&
        (this.launch.value !== this.editLaunch.value ||
          this.launch.description !== this.editLaunch.description)
    },
    selectDate (date) {
      this.editLaunch.date = moment(date, 'DD/MM/YYYY').format('YYYY-MM')
    },
    changeOption (frequencyOption) {
      if (frequencyOption === 'unique') {
        delete this.editLaunch.setting.current_installment
      } else {
        this.editLaunch.setting.current_installment = 1
      }
    },
    recalculateValue (launch) {
      if (launch.setting.option_frequency === 'parcel') {
        launch.value = +(launch.value / launch.setting.total_installments).toFixed(2)
      }
    },
    showIf (...options) {
      return options.includes(this.editLaunch.setting.option_frequency)
    },
    _reloadGroupLaunches (group) {
      launchService
        .launchesByCategoryAndMonth(group.id, group.monthYear)
        .then(launches => (this.group.launches = launches))
    },
    _processUpdate (oldId) {
      this._reloadGroupLaunches(this.group, this.editLaunch, oldId)
      this.swapContent('launches', this.group.title)
    }
  }
}
</script>
<style lang="scss" scoped>
    section {
        div.options {
            padding: 10px;
            display: flex;
            justify-content: end;

            button {
                margin-left: 10px;
            }
        }
    }
</style>
