<template>
    <section class="content">
        <table>
            <tbody data-cy="category-launches">
                <tr v-for="(launch, index) in orderedStatus"
                    :key="index"
                    :class="{ transparence: launch.status === 'paid' }">
                    <td>
                        {{ launch.description }}
                        <span class="info-installment" v-if="launch.setting.current_installment">({{ launch.setting.current_installment }}/{{ launch.setting.total_installments }})</span>
                    </td>
                    <td>{{ launch.value | currency }}</td>
                    <td width="160px">
                        <div class="options">
                            <div class="status" :class="launch.status">{{ launch.status | statusValue }}</div>
                            <div class="buttons">
                                <v-btn class="statusButton"
                                    data-cy="btn-status-change"
                                    v-if="isPaid(launch.status)"
                                    @click="changeStatus(launch, 'scheduled')"
                                    x-small
                                    color="yellow"
                                    icon>
                                    <v-icon>far fa-clock</v-icon>
                                </v-btn>
                                <v-btn class="statusButton"
                                    data-cy="btn-status-change"
                                    v-else
                                    @click="changeStatus(launch, 'paid')"
                                    x-small
                                    color="green"
                                    icon>
                                    <v-icon>far fa-check-circle</v-icon>
                                </v-btn>
                                <v-btn @click="$emit('edit-launch', launch)"
                                    data-cy="btn-update-launch"
                                    x-small
                                    color="orange"
                                    icon>
                                    <v-icon>far fa-edit</v-icon>
                                </v-btn>
                                <v-btn @click="removeLaunch(launch)"
                                    data-cy="btn-remove-launch"
                                    x-small
                                    color="red"
                                    icon>
                                    <v-icon>far fa-trash-alt</v-icon>
                                </v-btn>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr v-if="isEmpty(group.launches)">
                    <td colspan="3" align="center" class="emptyLine">Nenhum lançamento registrado</td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
<script>
import LaunchService from '@/services/launch/LaunchService.js'
import { EVENT_BUS } from '@/support/util/event-bus.js'

const launchService = new LaunchService()

export default {
  props: ['group', 'swapContent', 'currentMonth'],
  filters: {
    statusValue: function (status) {
      return status.toLowerCase() === 'paid'
        ? 'Pago'
        : status.toLowerCase() === 'scheduled'
          ? 'Agendado' : 'Atrasado'
    }
  },
  created: function () {
    EVENT_BUS.$once('launch-updated', launchUpdated => {
      const indexToUpdate = this.group.launches.findIndex(({ id }) => id === launchUpdated.id)
      this.group.launches[indexToUpdate] = launchUpdated
    })
  },
  computed: {
    orderedStatus: function () {
      return [...this.group.launches].sort((a, b) => {
        const order = { paid: 1, scheduled: 2, lated: 3 }
        return order[a.status] < order[b.status] ? 1
          : order[a.status] > order[b.status] ? -1 : 0
      })
    }
  },
  methods: {
    removeLaunch (launch) {
      const launchId = this.group.launches.findIndex(l => l.id === launch.id)
      this.group.launches.splice(launchId, 1)
      launchService
        .removeLaunch(launch)
        .then(console.log)
    },
    changeStatus (launch, newStatus) {
      launch.status = newStatus
      launch.date = this.currentMonth

      if (!launch.id || launch.is_planning) {
        launch.is_planning = false
        launch.category_id = this.group.id
        launchService.saveLaunch(launch)
      } else {
        launchService.updateLaunch({option: 'one', launch})
      }
    },
    isPaid (status) {
      return status === 'paid'
    },
    isEmpty (arr) {
      return !arr || arr.length === 0
    }
  }
}
</script>
<style lang="scss" scoped>
    @import '@/assets/styles/variables.scss';

    section.content {
        border-top: 1px solid $dark-gray;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                &:last-child td {
                    border-bottom: none;
                }

                &:hover td div.options .status {
                    width: 80px;
                    height: 20px;
                    font-size: .8rem;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.paid {
                        color: $color-shamrock-0;
                        border: 1px solid $color-shamrock-0;
                        background-color: transparent;
                    }

                    &.scheduled {
                        color: $color-mustard-3;
                        border: 1px solid $color-mustard-3;
                        background-color: transparent;
                    }

                    &.lated {
                        color: $color-thunderbird-2;
                        border: 1px solid $color-thunderbird-2;
                        background-color: transparent;
                    }
                }

                &.transparence {
                    color: rgba($white, .4)
                }

                td {
                    border-bottom: 1px solid $dark-gray;
                    padding: 10px;

                    & div.options {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .status {
                            $size-info: 10px;
                            width: $size-info;
                            height: $size-info;
                            border-radius: 50%;
                            transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .3s;
                            font-size: 0rem;
                            color: transparent;

                            &.paid {
                                background-color: $color-shamrock-0;
                            }

                            &.scheduled {
                                background-color: $color-mustard-3;
                            }

                            &.lated {
                                background-color: $color-thunderbird-2;
                            }
                        }

                        .buttons {
                            display: inherit;
                            .v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
                                height: 10px;
                                font-size: 10px;
                                width: 10px;
                            }
                        }
                    }

                    &.emptyLine { opacity: .5 }

                    .info-installment {
                        opacity: .5;
                        font-size: 10px;
                        vertical-align: top;
                    }
                }
            }
        }
    }
</style>
