<template>
    <main id="dashboard">
        <div id="header">
            <div>
                <picker label="Lançamentos do mês" @change-month="loadMonth"/>
                <v-switch
                  v-model="showEmptyCategories"
                  label="Mostrar categorias sem lançamentos"
                  color="primary"
                  @click="loadMonth(monthYear, showEmptyCategories)"
                  hide-details
                ></v-switch>
            </div>
            <v-speed-dial
                v-model="fab"
                top
                right
                direction="left"
                transition="slide-y-reverse-transition">
                <template v-slot:activator>
                    <v-btn
                    v-model="fab"
                    dark
                    icon
                    small
                    fab>
                    <v-icon v-if="fab" small>
                        mdi-close
                    </v-icon>
                    <v-icon v-else small>
                        fas fa-ellipsis-v
                    </v-icon>
                    </v-btn>
                </template>
                <v-tooltip bottom color="green darken-2">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            fab
                            dark
                            small
                            color="green darken-2"
                            v-bind="attrs"
                            v-on="on"
                            @click="newCard"
                            data-cy="button-register-card">
                            <v-icon small>far fa-credit-card</v-icon>
                        </v-btn>
                    </template>
                    <span>Adicionar Cartão</span>
                </v-tooltip>
                <v-tooltip bottom color="blue darken-1">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            fab
                            dark
                            small
                            color="blue darken-1"
                            v-bind="attrs"
                            v-on="on"
                            @click="newCategory()"
                            data-cy="button-register-category">
                            <v-icon small>fas fa-th-large</v-icon>
                        </v-btn>
                    </template>
                    <span>Adicionar Categoria</span>
                </v-tooltip>
            </v-speed-dial>
        </div>

        <section id="credit-card">
            <card
                v-for="(card, index) in cards"
                :key="index"
                :info="card"
                @remove-card="removeCard">
            </card>
        </section>

        <result id="result" :groups="orderedCategory"></result>

        <category class="category" v-for="(group, index) in groups"
            :key="index"
            :group="group"
            :currentMonth="monthYear">
        </category>
    </main>
</template>
<style src="./Dashboard.scss" lang="scss" scoped />
<script src="./Dashboard.js"></script>
