@import '@/assets/styles/variables.scss';

main#dashboard {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;

    #header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            align-items: baseline;
            gap: 15px;
        }
    }

    #result,
    .category {
        flex: 1;
        min-width: 500px;
    }

    #credit-card {
        width: 100%;
        display: flex;
        gap: 25px;
        overflow-x: scroll;
        padding: 10px 0;
    }
}