@import '@/assets/styles/variables.scss';
@import '@/assets/styles/default-classes.scss';

.painel-group {
    background-color: $background-dark-4;
    border-radius: 10px;

    section.header {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
            height: 15px;
            font-size: 15px;
            width: 15px;
        }
    }
}