<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-btn slot="activator" color="primary" dark>Novo</v-btn>
            <v-card dark>
                <v-card-title>
                    <span class="headline">Novo Lançamento</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs3>
                                <v-menu
                                    v-model="dateMenu"
                                    :close-on-content-click="false"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                    <v-text-field
                                        slot="activator"
                                        v-model="launche.date"
                                        label="Data"
                                        :color="color"
                                        readonly/>
                                    <v-date-picker
                                        dark
                                        locale="pt-br"
                                        v-model="launche.date"
                                        @input="dateMenu = false"
                                        :color="color"/>
                                </v-menu>
                            </v-flex>
                            <v-flex xs9>
                                <v-select
                                    label="Categoria"
                                    v-model="launche.category"
                                    :color="color"
                                    :items="categories"
                                    item-text="name"
                                    item-value="id" />
                            </v-flex>
                            <v-flex xs10>
                                <v-text-field
                                    label="Descrição"
                                    v-model="launche.description"
                                    :color="color" />
                            </v-flex>
                            <v-flex xs2>
                                <v-select
                                    label="Status"
                                    v-model="launche.status"
                                    :color="color"
                                    :items="status"
                                    item-text="text"
                                    item-value="value" />
                            </v-flex>
                            <v-flex xs12>
                                <v-select
                                    label="Forma de pagamento"
                                    v-model="launche.paymentMethod"
                                    :color="color"
                                    :items="methodPayments" />
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                    label="Valor"
                                    v-model="launche.value"
                                    type="money"
                                    :color="color"
                                    prefix="R$" />
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" flat @click="closeDialog">Fechar</v-btn>
                <v-btn color="blue darken-1" flat @click="save">Salvar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script src='./RegisterLaunche.js' />
<style src='./RegisterLaunche.scss' lang='scss' scoped />
