<template>
    <section>
        <v-form @submit.prevent="save()">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <div>
                            <label for="description">Descrição</label>
                            <v-text-field
                                id="description"
                                ref="description"
                                v-model="editLaunch.description"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="value">Valor</label>
                            <v-text-field
                                id="value"
                                v-model.number="editLaunch.value"
                                prefix="R$ "
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>
                </v-row>
                <v-divider></v-divider>

                <v-row>
                    <v-col cols="12"><h5>Frequência do Lançamento</h5></v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="frequency">Frequência</label>
                            <v-select
                                :disabled="editLaunch.id"
                                v-model="editLaunch.setting.frequency"
                                :items="frequencies"
                                filled
                                rounded
                                dense>
                            </v-select>
                        </div>

                        <v-radio-group v-model="editLaunch.setting.option_frequency" column>
                            <v-radio
                                :disabled="editLaunch.id"
                                v-for="(frequency, index) in optionsFrequency"
                                :label="frequency.label"
                                :value="frequency.value"
                                :key=index
                                @change="changeOption(frequency.value)"
                            ></v-radio>
                        </v-radio-group>
                    </v-col>
                    <v-divider vertical></v-divider>

                    <v-col cols="12" sm="5">
                        <div v-if="showIf('repeat', 'parcel')">
                            <label for="installments">Parcelas</label>
                            <v-text-field
                                id="installments"
                                v-model.number="editLaunch.setting.total_installments"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>

                        <div v-if="showIf('parcel')">
                            <label for="value-installment">Valor Parcela</label>
                            <v-text-field
                                id="value-installment"
                                prefix="R$ "
                                v-model.number="valueInstallment"
                                readonly
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>

                        <div v-if="showIf('repeat', 'parcel')">
                            <label for="date">Vencimento 1ª Parcela</label>
                            <datePicker id="date"
                                :current-date="editLaunch.date"
                                @select-date="selectDate" />
                        </div>
                    </v-col>
                </v-row>
            </v-container>
            <div class="options">
                <v-btn
                    @click="swapContent('launches', group.title)"
                    small
                    elevation="0"
                >Voltar</v-btn>
                <v-btn
                    type="submit"
                    color="primary"
                    small
                    elevation="0"
                >Salvar</v-btn>
            </div>
        </v-form>
    </section>
</template>
<script>
import PlanningService from '@/services/planning/PlanningService.js'
import moment from 'moment'

const planningService = new PlanningService()

export default {
  props: ['group', 'launch', 'swapContent'],
  mounted () {
    this.$refs.description.focus()
  },
  created () {
    this.editLaunch = planningService.prepareLaunch(this.launch)
    this.editLaunch.date = this.editLaunch.date || moment(new Date()).format('YYYY-MM-DD')
  },
  computed: {
    valueInstallment () {
      return (this.editLaunch.value / this.editLaunch.setting.total_installments) | 0
    }
  },
  data: () => ({
    frequencies: [
      'Semanal',
      'Quinzenal',
      'Mensal',
      'Bimestral',
      'Trimestral',
      'Semestral',
      'Anual'
    ],
    optionsFrequency: [
      { value: 'unique', label: 'Sem término' },
      { value: 'parcel', label: 'Será parcelado' },
      { value: 'repeat', label: 'Será repetido (mesmo valor)' }
    ]
  }),
  methods: {
    save () {
      if (!this.editLaunch.id) {
        this.editLaunch.category_id = this.group.id
        planningService
          .addLaunch(this.editLaunch)
          .then(response => {
            this.editLaunch.id = response.data.id
            this.recalculateValue(this.editLaunch)
            this.group.launches.push(this.editLaunch)
            this.swapContent('launches', this.group.title)
          })
      } else {
        planningService
          .updateLaunch(this.editLaunch)
          .then(_ => {
            // This function auto updates resume total value
            const index = this.group.launches.findIndex(launch => launch.id === this.launch.id)
            this.group.launches.splice(index, 1)
            this.recalculateValue(this.editLaunch)
            this.group.launches.push(this.editLaunch)
          })
          .then(_ => this.swapContent('launches', this.group.title))
      }
    },
    selectDate (date) {
      this.editLaunch.date = date
    },
    changeOption (frequencyOption) {
      if (frequencyOption === 'unique') {
        delete this.editLaunch.setting.current_installment
      } else {
        this.editLaunch.setting.current_installment = 1
      }
    },
    recalculateValue (launch) {
      if (launch.setting.option_frequency === 'parcel') {
        launch.value = +(launch.value / launch.setting.total_installments).toFixed(2)
      }
    },
    showIf (...options) {
      return options.includes(this.editLaunch.setting.option_frequency)
    }
  }
}
</script>
<style lang="scss" scoped>
    section {
        div.options {
            padding: 10px;
            display: flex;
            justify-content: end;

            button {
                margin-left: 10px;
            }
        }
    }
</style>
