<template>
    <section>
        <v-form @submit.prevent="save()">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <div>
                            <label for="title">Título</label>
                            <v-text-field
                                id="title"
                                v-model="groupConfig.title"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="type">Tipo</label>
                            <v-select
                                id="type"
                                v-model="groupConfig.type"
                                :value="groupConfig.type"
                                :items="options"
                                item-text="text"
                                item-value="value"
                                filled
                                rounded
                                dense>
                            </v-select>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="planning">Planejamento</label>
                            <v-text-field
                                id="planning"
                                v-model.number="groupConfig.planning"
                                type="number"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12">
                        <div>
                            <label for="status">Cor</label>
                            <v-color-picker
                                v-model="groupConfig.color"
                                dot-size="18"
                                hide-inputs
                                swatches-max-height="200">
                            </v-color-picker>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
            <div class="options">
                <v-btn
                    @click="swapContent('launches', group.title)"
                    small
                    elevation="0"
                >Voltar</v-btn>
                <v-btn
                    type="submit"
                    color="primary"
                    small
                    elevation="0"
                >Salvar</v-btn>
            </div>
        </v-form>
    </section>
</template>
<script>
import PlanningService from '@/services/planning/PlanningService.js'

const planningService = new PlanningService()

export default {
  props: ['group', 'swapContent'],
  created () {
    this.groupConfig = Object.assign({}, this.group)
  },
  data: () => ({
    options: [
      {text: 'Receita', value: 'income'},
      {text: 'Despesa', value: 'expense'}
    ]
  }),
  methods: {
    save () {
      if (this.groupConfig.id) {
        planningService
          .updateCategory(this.groupConfig)
          .then(_ => this._processResponse(this.groupConfig))
      } else {
        delete this.groupConfig.content
        planningService
          .saveCategory(this.groupConfig)
          .then(response => {
            this.groupConfig.id = response.data.id
            this._processResponse(this.groupConfig)
          })
      }
    },
    _processResponse (groupConfig) {
      Object.assign(this.group, groupConfig)
      this.swapContent('launches', this.group.title)
    }
  }
}
</script>
<style lang="scss" scoped>
    section {
        div.options {
            padding: 10px;
            display: flex;
            justify-content: end;

            button {
                margin-left: 10px;
            }
        }
    }
</style>
