<template>
    <section class="content">
        <table>
            <tbody>
                <tr v-for="(launch, index) in group.launches" :key="index" :class="{ transparence: launch.status === 'paid' }">
                    <td>
                        {{ launch.description }}
                        <span class="info-installment" v-if="launch.setting.current_installment">({{ launch.setting.current_installment }}/{{ launch.setting.total_installments }})</span>
                    </td>
                    <td>{{ launch.value | currency }}</td>
                    <td width="50px">
                        <div class="options">
                            <div class="buttons">
                                <v-btn @click="$emit('edit-launch', launch)"
                                    x-small
                                    color="orange"
                                    icon>
                                    <v-icon>far fa-edit</v-icon>
                                </v-btn>
                                <v-btn @click="removeLaunch(launch)"
                                    x-small
                                    color="red"
                                    icon>
                                    <v-icon>far fa-trash-alt</v-icon>
                                </v-btn>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr v-if="isEmpty(group.launches)">
                    <td colspan="3" align="center" class="emptyLine">Nenhum lançamento registrado</td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
<script>
import PlanningService from '@/services/planning/PlanningService.js'

const planningService = new PlanningService()

export default {
  props: ['group', 'swapContent'],
  methods: {
    removeLaunch (launch) {
      const launchId = this.group.launches.findIndex(l => l.id === launch.id)
      this.group.launches.splice(launchId, 1)
      planningService.updateCategory(this.group)
    },
    isEmpty (arr) {
      return !arr || arr.length === 0
    }
  }
}
</script>
<style lang="scss" scoped>
    @import '@/assets/styles/variables.scss';

    section.content {
        border-top: 1px solid $dark-gray;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                &:last-child td {
                    border-bottom: none;
                }

                &.transparence {
                    color: rgba($white, .4)
                }

                td {
                    border-bottom: 1px solid $dark-gray;
                    padding: 10px;

                    & div.options {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .buttons {
                            display: inherit;
                            .v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
                                height: 10px;
                                font-size: 10px;
                                width: 10px;
                            }
                        }
                    }

                    &.emptyLine { opacity: .5 }

                    .info-installment {
                        opacity: .5;
                        font-size: 10px;
                        vertical-align: top;
                    }
                }
            }
        }
    }
</style>
