<template>
    <div id="modal">
        <div class="form">
            <div class="header">
                <span>Nova Categoria</span>
                <i class="fas fa-times" @click="$emit('close')"></i>
            </div>
            <div class="body">
                <label for="name">Nome</label>
                <input type="text" id="name" v-model=category.name>

                <label for="type">Tipo</label>
                <select id="type" v-model=category.type>
                    <option value="INCOME">Receita</option>
                    <option value="EXPENSE">Despesa</option>
                </select>

                <label for="planned">Valor planejado</label>
                <input type="text" id="planned" v-model=category.planned>
            </div>
            <div class="footer">
                <button class="save" @click="save(category)">
                    <i class="far fa-save"></i>
                    <span>Salvar</span>
                </button>
            </div>
        </div>
    </div>
</template>
<script src='./RegisterCategory.js' />
<style src='./RegisterCategory.scss' lang='scss' scoped />
