div#modal {
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    div.form {
        background-color: #3B3B3B;
        padding: 25px;
        border-radius: 10px;
        color: white;
        position: absolute;
        box-shadow: 0 0 15px 4px rgba(51, 51, 51, 0.68);
        transition: all .3s ease;
        .header {
            text-align: center;
            font-weight: bold;
            i {
                color: #CE3B3B;
                float: right;
            }
        }
        .body {
            margin: 40px 0;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px 0;
        }
        .footer {
            display: flex;
            justify-content: flex-end;
            button.save {
                padding: 8px 0;
                width: 85px;
                background-color: #30AC68;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                color: #034F0C;
                display: flex;
                justify-content: space-evenly;
                outline: none;
                &:hover {
                    background-color: #249256;
                    color: #034F0C;
                    transition: all 300ms ease-in-out;
                }
            }
        }
    }
}