@import "@/assets/styles/variables.scss";
@import "@/assets/styles/buttom-effect.scss";
@import "@/assets/styles/default-classes.scss";

#home {
    #planningPanel,
    #panelLaunches {
        padding: 20px;
        border-radius: 10px;
        background-color: $white;
        position: relative;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &:first-child {margin-top: 20px}

        .body-panel {
            margin-top: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
            grid-gap: 30px 20px;
        }
    }

    #panelLaunches {
        table {
            width: 100%;
            margin-top: 20px;

            tbody {
                .option {
                    font-size: 10px;
                }
            }
        }
    }

    .add-button {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 10px;
        height: 30px;
        width: 30px;

         i {
             font-size: 15px;
         }
    }

    .bg-red {
        background-color: $red;
    }
    
    .bg-green {
        background-color: $green;
    }
}