<template>
  <div id="home">
    <div id="planningPanel">
      <title-panel title="Planejamento" :colors="['purple', 'red']" />
      <router-link :to="{name: 'new-category'}">
        <v-btn class="mx-2 add-button bg-green" fab dark>
          <v-icon dark>fas fa-plus</v-icon>
        </v-btn>
      </router-link>
      <picker v-on:change-month="selectMonth" />
      <div class="body-panel">
        <balance :data="balance" />
        <span v-if="isEmpty(categorias)" class="text-center">Nenhuma categoria planejada para esse mês!</span>
        <panel-table v-for="category in categorias" :key="category.id" :category=category />
      </div>
    </div>

    <!-- <div id="panelLaunches">
      <title-panel title="Dívidas" :colors="['#ff0000', '#9a0404']" />
      <modal-debt @saveDebt="saveDebt" />
      <table>
        <thead>
          <th align="left">Data</th>
          <th align="left">Descrição</th>
          <th align="left">Nº Parcela</th>
          <th align="left">Valor</th>
          <th align="left">Saldo<br>Devedor</th>
          <th align="left">Status</th>
          <th align="left"></th>
        </thead>
        <tbody>
          <tr v-for="(debt, key) in debts" :key="key">
            <td>{{ debt.date | formateDate('DD/MM/YYYY') }}</td>
            <td>{{ debt.description }}</td>
            <td>{{ debt.installmentNumber }} / {{ debt.totalInstallment }}</td>
            <td>{{ debt.value | currency }}</td>
            <td>{{ totalDebt(debt) | currency }}</td>
            <td><status-budget :launch="debt" @setStatus=onChangeStatusDebt /></td>
            <td align="right">
              <v-btn
                  class="option"
                  icon>
                  <v-icon class="icon">fas fa-ellipsis-v</v-icon>
              </v-btn>
            </td>
          </tr>
          <tr v-if="isEmpty(debts)">
            <td colspan="7" align="center">Parabéns, você não tem nenhuma dívida!</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</template>
<style src="./Home.scss" lang="scss" scoped></style>
<script src="./Home.js" />
