<template>
    <div class="card"
        :style=bkColor
        @click="openCard(info)">
        <span class="title">{{ info.title }}</span>
        <span class="expensed">{{ info.expensed | currency }}</span>
        <span class="owner">{{ info.owner }}</span>
        <span class="number">xxxx xxxx xxxx {{ info.number }}</span>
        <span class="flag">
            <img :src=flag alt="">
        </span>
        <div class="menu" prevent>
            <v-btn
                icon
                dark
                small
                color="orange"
                @click.stop="editCard(info)"
                data-cy="button-register-card">
                <v-icon x-small>far fa-edit</v-icon>
            </v-btn>

            <v-btn
                icon
                dark
                small
                color="red"
                @click.stop="$emit('remove-card', info.id)"
                data-cy="button-register-category">
                <v-icon x-small>far fa-trash-alt</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<style src="./Card.scss" lang="scss" scoped />
<script src="./Card.js"></script>
