.card {
    &::before {
        content: '';
    }

    &:hover {
        box-shadow: 10px 10px 10px black;
        box-shadow: -10px -10px -10px white;

        
        .expensed {
            text-shadow: 3px 3px 4px #000000a6;
        }
    }

    &:hover,
    &:focus-visible {
        transform: translateY(-10px);
        transition: all 300ms;
    }

    transition: all 500ms;
    min-width: 215px;
    height: 100%;
    min-height: 290px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    grid-template-areas:
    'title      menu'
    'number     number'
    'expensed   expensed'
    'owner      flag';

    .flag {
        img {
            width: 40px;
        }
    }

    .title { grid-area: title; }

    .expensed {
        grid-area: expensed;
        font-weight: bold;
        font-size: 15px;
        justify-self: center;
        transition: all 300ms;
    }

    .owner { grid-area: owner; }
    .number {
        grid-area: number;
        align-self: center;
        justify-self: center;
    }
    .flag {
        grid-area: flag;
        text-align: right;
    }

    .owner,
    .flag {
        align-self: center;
    }

    .menu {
        grid-area: menu;
        text-align: end;
        right: 0;
        top: 0;
    }
}