<template>
    <section id="addLaunch">
        <h2>{{  isNewLaunch(formLaunch) ? 'Novo Lançamento' : 'Atualizando Lançamento' }}</h2>
        <v-form @submit.prevent="save()" ref="form">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <div>
                            <label for="description">Descrição</label>
                            <v-text-field
                                id="description"
                                ref="description"
                                v-model="formLaunch.description"
                                autocomplete="off"
                                filled
                                rounded
                                dense
                                :rules="validator.descriptionRules">
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="4">
                        <div>
                            <label for="value">{{ formLaunch.setting.option_frequency === 'parcel' ? 'Valor Parcela' : 'Valor' }}</label>
                            <v-text-field
                                id="value"
                                v-currency="formLaunch.value"
                                v-model="formLaunch.value"
                                prefix="R$ "
                                autocomplete="off"
                                filled
                                rounded
                                dense
                                :rules="validator.valueRules">
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="4">
                        <div>
                            <label for="category">Categoria</label>
                            <v-text-field
                                id="category"
                                v-model="formLaunch.category"
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>

                    <v-col cols="12" sm="4">
                        <div>
                            <label for="createdAt">Data</label>
                             <datePicker id="createdAt"
                                :current-date="formLaunch.date"
                                @select-date="selectDate"
                                :disabled="!isNewLaunch(formLaunch)" />

                        </div>
                    </v-col>
                </v-row><v-divider></v-divider>

                <v-row>
                    <v-col cols="12"><h5>Frequência do Lançamento</h5></v-col>

                    <v-col cols="12" sm="6">
                        <div>
                            <label for="frequency">Frequência</label>
                            <v-select
                                v-model="formLaunch.setting.frequency"
                                :items="frequencies"
                                filled
                                rounded
                                dense
                                :disabled="!isNewLaunch(formLaunch)">
                            </v-select>
                        </div>

                        <v-radio-group v-model="formLaunch.setting.option_frequency"
                              :disabled="!isNewLaunch(formLaunch)"
                              column>
                            <v-radio
                                data-cy="radio-frequency"
                                v-for="(frequency, index) in optionsFrequency"
                                :label="frequency.label"
                                :value="frequency.value"
                                :key=index
                                @change="changeOption(frequency.value)"
                            ></v-radio>
                        </v-radio-group>
                    </v-col>
                    <v-divider vertical></v-divider>

                    <v-col cols="12" sm="5">
                        <div v-if="showIf('repeat', 'parcel')">
                            <label for="installments">Parcelas</label>
                            <v-text-field
                                id="installments"
                                v-model.number="formLaunch.setting.total_installments"
                                autocomplete="off"
                                filled
                                rounded
                                dense
                                :disabled="!isNewLaunch(formLaunch)">
                            </v-text-field>
                        </div>

                        <div v-if="showIf('parcel')">
                            <label for="value-installment">Valor Total</label>
                            <v-text-field
                                id="value-installment"
                                prefix="R$ "
                                v-model.number="valueInstallment"
                                readonly
                                autocomplete="off"
                                filled
                                rounded
                                dense>
                            </v-text-field>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
            <div class="options">
                <v-btn
                    @click="goBack"
                    small
                    elevation="0"
                >Voltar</v-btn>
                <v-btn
                    type="submit"
                    color="primary"
                    small
                    elevation="0"
                >{{ isNewLaunch(formLaunch) ? 'Salvar' : 'Atualizar' }}</v-btn>
            </div>
        </v-form>
    </section>
</template>
<style src="./AddLaunch.scss" lang="scss" scoped />
<script src="./AddLaunch.js"></script>
