@import '@/assets/styles/variables.scss';

#addLaunch {
    background-color: $background-dark-4;
    border-radius: 10px;

    h2 {
        padding: 20px 15px;
    }

    div.options {
        padding: 10px;
        display: flex;
        justify-content: end;

        button {
            margin-left: 10px;
        }
    }
}