@import '@/assets/styles/variables.scss';

#cards-form {
    .title {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    #body {
        gap: 15px;
        display: flex;
        justify-content: center;

        #card-template {
            &::before {
                content: '';
            }
    
            &:hover {
                box-shadow: 10px 10px 10px black;
                box-shadow: -10px -10px -10px white;
    
                
                .expensed {
                    text-shadow: 3px 3px 4px #000000a6;
                }
            }
    
            &:hover,
            &:focus-visible {
                transform: translateY(-10px);
                transition: all 300ms;
            }
    
            flex: 1;
            transition: all 500ms;
            max-width: 215px;
            height: 100%;
            min-height: 290px;
            padding: 10px;
            border-radius: 10px;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            justify-content: space-between;
            grid-template-areas:
                'title  expensed'
                'number number'
                'owner  flag';
    
            .flag {
                img {
                    width: 40px;
                }
            }
    
            .title { grid-area: title; }
            .expensed {
                grid-area: expensed;
                font-weight: bold;
                font-size: 15px;
                transition: all 300ms;
            }
            .owner { grid-area: owner; }
            .number {
                grid-area: number;
                align-self: center;
                justify-self: center;
            }
            .flag {
                grid-area: flag;
                text-align: right;
            }
    
            .owner,
            .flag {
                align-self: end;
            }
        }

        #form {
            flex: 1;
            border-radius: 15px;
            background-color: $background-dark-4;

            .colors {
                display: flex;
                gap: 20px;
                justify-content: space-evenly;
            }

            .options {
                display: flex;
                justify-content: center;
                padding: 15px;
            }
        }
    }

}