<template>
    <section id="cards-form">
        <div class="title">
            <v-btn @click="back"
                fab
                small
                color="grey darken-3">
                <v-icon small>
                    fa-solid fa-arrow-left
                </v-icon>
            </v-btn>
            <h1>{{ isNewCard() ? 'Cadastro Cartão' : 'Atualizar Cartão' }}</h1>
        </div>

        <div id="body">
            <div id="card-template"
                :style=bkColor>
                <span class="title">{{ form.title }}</span>
                <span class="expensed">{{ form.expensed | currency }}</span>
                <span class="owner">{{ form.owner }}</span>
                <span class="number">xxxx xxxx xxxx {{ form.number }}</span>
                <span class="flag">
                    <img :src=flag alt="">
                </span>
            </div>

            <v-form id="form"
                ref="form"
                @submit.prevent="save">
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <div>
                                <label for="title">Banco</label>
                                <v-text-field
                                    id="title"
                                    ref="title"
                                    v-model="form.title"
                                    autocomplete="off"
                                    filled
                                    rounded
                                    dense
                                    counter="20"
                                    maxlength="20">
                                </v-text-field>
                            </div>
                        </v-col>

                        <v-col cols="2">
                            <div>
                                <label for="number">Nº do Cartão</label>
                                <v-text-field
                                    id="number"
                                    ref="number"
                                    v-model="form.number"
                                    maxlength="4"
                                    placeholder="0000"
                                    autocomplete="off"
                                    filled
                                    rounded
                                    dense>
                                </v-text-field>
                            </div>
                        </v-col>

                        <v-col cols="10">
                            <div>
                                <label for="flag">Bandeira</label>
                                <v-select
                                    id="flag"
                                    :items="flags"
                                    item-text="text"
                                    item-value="value"
                                    v-model="form.flag"
                                    filled
                                    rounded
                                    dense>
                                    <template v-slot:item="{ item }">
                                        <img :src="item.flag" width="20px" style="margin-right: 10px;"> {{ item.text }}
                                    </template>
                                </v-select>
                            </div>
                        </v-col>

                        <v-col cols="12">
                            <div>
                                <label for="owner">Nome Titular</label>
                                <v-text-field
                                    id="owner"
                                    ref="owner"
                                    v-model="form.owner"
                                    autocomplete="off"
                                    maxlength="32"
                                    counter="32"
                                    filled
                                    rounded
                                    dense>
                                </v-text-field>
                            </div>
                        </v-col>

                        <v-col cols="12">
                            <div class="colors">
                                <div>
                                    <label for="status">1ª Cor</label>
                                    <v-color-picker
                                        v-model="colorA"
                                        dot-size="18"
                                        hide-inputs
                                        swatches-max-height="200">
                                    </v-color-picker>
                                </div>

                                <div>
                                    <label for="status">2ª Cor</label>
                                    <v-color-picker
                                        v-model="colorB"
                                        dot-size="18"
                                        hide-inputs
                                        swatches-max-height="200">
                                    </v-color-picker>
                                </div>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
                <div class="options">
                    <v-btn
                        type="submit"
                        color="primary"
                        outlined
                        block
                        large
                        rounded
                        elevation="0">
                        {{ isNewCard() ? 'Salvar' : 'Atualizar' }}
                    </v-btn>
                </div>
            </v-form>
        </div>
    </section>
</template>
<style src="./CardsForm.scss" lang="scss" scoped></style>
<script src="./CardsForm.js"></script>
