@import "@/assets/styles/variables.scss";

.panel {
    border: 1px solid $gray-light;
    position: relative;
    width: auto;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;

    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;

        thead th {
            font-size: 10px;
            font-weight: normal;
        }
        
        tbody {
            tr {
                td {
                    height: 35px;
                    cursor: default;

                    .status {
                        font-size: 10px;
                        color: $white;
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: bold;
                        cursor: default;
                        user-select: none;
                    }

                    .bg-green {
                        background-color: $green;
                        &:hover { background-color: darken($color: $green, $amount: 10) }
                    }
                    .bg-red {
                        background-color: $red;
                        &:hover { background-color: darken($color: $red, $amount: 10) }
                    }
                }
                &:not(:first-child) td {
                    border-top: 1px solid $gray-light;
                }

                &:last-child td {
                    border-bottom: 1px solid $gray-light;
                    padding: 10px 0 15px 0;
                }
            }
        }

        .percent-green { color: $green }
        .percent-red { color: $red }

        tfoot td {
            padding: 10px 0;
        }
    }

    .option {
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        width: 20px;
        color: $green;

        .icon { font-size: 10px}
    }
}