<template>
    <div class="panel">
        <title-panel :title=category.title :colors=category.colors />
        <router-link :to="{ name: 'category', params: { id: category.id } }">
            <v-btn class="option" icon>
                <v-icon class="icon">fas fa-pencil-alt</v-icon>
            </v-btn>
        </router-link>
        <table>
            <thead>
                <th></th>
                <th align="center">Planejado</th>
                <th align="center">Realizado</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr v-for="(launch, key) in category.launches" :key="key">
                    <td>{{ launch.description }}</td>
                    <td align="center">{{ launch.planning | currency }}</td>
                    <td class="bold" align="center">{{ launch.current | currency }}</td>
                    <td align="center" :class="['percent', getClassColorPercent(launch)]">{{ getPercent(launch) }} %</td>
                    <td align="right"><status-budget :launch="launch" @setStatus=statusOnChange /></td>
                </tr>
            </tbody>
            <tfoot v-if="category.launches.length > 1">
                <td class="bold">Total</td>
                <td align="center">{{ totalBy('planning') | currency }}</td>
                <td align="center" class="bold">{{ totalBy('current') | currency }}</td>
                <td align="center" :class="getClassColorPercentTotal()">{{ getPercentTotal() }} %</td>
                <td></td>
            </tfoot>
        </table>
    </div>
</template>
<style src="./PanelTable.scss" lang="scss" scoped></style>
<script src="./PanelTable.js"/>
