<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
      @click:outside="reload()"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
        >
          Novo Lançamento
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
        </v-card-title>

        <v-card-text class="content">
            <v-autocomplete
                v-model="launch.category_id"
                label="Categoria"
                :items="categories"
                item-value="_id"
                item-text="title"
                dense
                filled
                rounded>
            </v-autocomplete>
            <v-text-field
                v-model="launch.description"
                label="Lançamento"
                autocomplete="off"
                dense
                filled
                rounded>
            </v-text-field>
            <v-text-field id="currency" class="input-currenty"
                v-model="launch.value"
                label="Valor"
                type="number"
                min="0.00"
                step="0.01"
                autocomplete="off"
                prefix="R$"
                dense
                filled
                rounded>
            </v-text-field>
            <v-select class="select-status"
                v-model="launch.status"
                label="Status"
                :items="['Agendado', 'Pago']"
                dense
                filled
                rounded>
            </v-select>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="reload()"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="saveLaunch()"
          >
            {{ launch._id ? 'Atualizar' : 'Salvar' }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style src="./DialogLaunch.scss" scoped lang="scss"></style>
<script src="./DialogLaunch.js"></script>
