<template>
    <div class="panel">
        <title-panel title="Saldo" :colors="['#2AC881FF', '#5EE169FF']" />
        <table>
            <thead>
                <th></th>
                <th align="center">Realizado</th>
            </thead>
            <tbody>
                <tr v-for="(launch, key) in data.launches" :key="key">
                    <td>{{ launch.description }}</td>
                    <td align="center" :class="isExpense(launch) ? 'currency-red' : 'currency-green'">{{ launch.current | currency }}</td>
                    <td align="right"><status-budget :launch="launch" :readOnlyStatus=true /></td>
                </tr>
            </tbody>
            <tfoot>
                <td class="bold">Saldo Final</td>
                <td align="center" colspan="3" :class="[getTotalClass(), 'totalCurrency']">{{ getTotal() | currency }}</td>
            </tfoot>
        </table>
    </div>
</template>
<style src="./Balance.scss" lang="scss" scoped></style>
<script src="./Balance.js"/>
