@import '@/assets/styles/variables.scss';


        
.info-installment {
    opacity: .5;
    font-size: 10px;
    vertical-align: top;
}

#launches {
    background-color: $background-dark-4;
    border-radius: 10px;

    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;

        th {
            padding: 10px
        }

        tr {
            &:hover {
                background-color: #2b323b;
            }

            &:last-child:hover td:first-child {
                border-bottom-left-radius: 10px;
            }

            &:last-child:hover td:last-child {
                border-bottom-right-radius: 10px;
            }

            &:last-child td {
                border-bottom: none;
            }

            td {
                border-bottom: 1px solid $dark-gray;
                padding: 10px;

                & div.options {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    .buttons {
                        display: inherit;
                        .v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
                            height: 10px;
                            font-size: 10px;
                            width: 10px;
                        }
                    }
                }
            }
        }

        tfoot {
            border-top: 1px solid;
            font-weight: bold;
        }
    }
}

#groups {
    border-radius: 10px;

    .groups {
        background-color: $background-dark-4;
        margin-bottom: 20px;
        padding: 15px 20px;
        border-radius: 10px;

        .content {

            table {
                width: 100%;
                margin-top: 10px;
                border-collapse: collapse;
        
                th {
                    padding: 10px
                }
        
                tr {
                    &:hover {
                        background-color: #2b323b;
                    }
        
                    &:last-child:hover td:first-child {
                        border-bottom-left-radius: 10px;
                    }
        
                    &:last-child:hover td:last-child {
                        border-bottom-right-radius: 10px;
                    }
        
                    &:last-child td {
                        border-bottom: none;
                    }
        
                    td {
                        border-bottom: 1px solid $dark-gray;
                        padding: 10px;
        
                        & div.options {
                            display: flex;
                            align-items: center;
                            justify-content: end;
        
                            .buttons {
                                display: inherit;
                                .v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
                                    height: 10px;
                                    font-size: 10px;
                                    width: 10px;
                                }
                            }
                        }
                    }
                }
        
                tfoot {
                    border-top: 1px solid;
                    font-weight: bold;
                }
            }
        }
    }
}