<template>
    <section id="groups" v-if="groupMode">
        <div v-for="(group, index) in groups.keys()"
            :key="index"
            class="groups">
            <div class="header">
                <h2>{{ group  }}</h2>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <th align="left">Descrição</th>
                        <th align="left">Valor</th>
                        <th align="right">Data</th>
                        <th align="right"></th>
                    </thead>
                    <tbody data-cy="launches-card">
                        <tr v-for="(launch, index) in groups.get(group)"
                            :key="index">
                            <td>
                                {{ launch.description }}
                                <span class="info-installment" v-if="launch.setting.total_installments > 1">({{ launch.setting.current_installment }}/{{ launch.setting.total_installments }})</span>
                            </td>
                            <td align="left" width="200px">{{ launch.value | currency }}</td>
                            <td align="right" width="200px">{{ launch.date | formateDate('DD/MM/YYYY') }}</td>
                            <td align="right" width="80px">
                                <div class="options">
                                    <div class="buttons">
                                        <v-btn @click="$emit('edit-launch', launch)"
                                            data-cy="btn-update-launch"
                                            x-small
                                            color="orange"
                                            icon>
                                            <v-icon>far fa-edit</v-icon>
                                        </v-btn>
                                        <v-btn
                                            data-cy="btn-remove-launch"
                                            x-small
                                            color="red"
                                            icon
                                            @click="removeLaunch(launch, index)">
                                            <v-icon>far fa-trash-alt</v-icon>
                                        </v-btn>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="total">
                            <td>TOTAL</td>
                            <td colspan="3"
                                align="left">{{ total(groups.get(group)) | currency }}</td>
                        </tr>
                        <tr v-if="isEmpty(groups.get(group))">
                            <td colspan="4"
                                align="center">Não existe lançamento nesse mês</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="launches" v-else>
        <table>
            <thead>
                <th align="left">Descrição</th>
                <th align="left">Valor</th>
                <th align="left">Categoria</th>
                <th align="right">Data</th>
                <th align="right"></th>
            </thead>
            <tbody data-cy="launches-card">
                <tr v-for="(launch, index) in launches"
                    :key="index">
                    <td>
                        {{ launch.description }}
                        <span class="info-installment" v-if="launch.setting.current_installment">({{ launch.setting.current_installment }}/{{ launch.setting.total_installments }})</span>
                    </td>
                    <td align="left">{{ launch.value | currency }}</td>
                    <td align="left">{{ launch.category }}</td>
                    <td align="right">{{ launch.date | formateDate('DD/MM/YYYY') }}</td>
                    <td align="right" width="80px">
                        <div class="options">
                            <div class="buttons">
                                <v-btn @click="$emit('edit-launch', launch)"
                                    data-cy="btn-update-launch"
                                    x-small
                                    color="orange"
                                    icon>
                                    <v-icon>far fa-edit</v-icon>
                                </v-btn>
                                <v-btn
                                    data-cy="btn-remove-launch"
                                    x-small
                                    color="red"
                                    icon
                                    @click="removeLaunch(launch, index)">
                                    <v-icon>far fa-trash-alt</v-icon>
                                </v-btn>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr v-if="isEmpty(launches)">
                    <td colspan="5"
                        align="center">Não existe lançamento nesse mês</td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
<style src="./Launches.scss" lang="scss" scoped />
<script src="./Launches.js"></script>
