<template>
        <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px">
            <template v-slot:activator="{ on, attrs }">
                <div id="picker">
                    <v-text-field
                        :label="label"
                        class="input-field"
                        v-model="computedDateFormattedMomentjs"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        filled
                        rounded
                        dense
                        outlined>
                    </v-text-field>
                </div>
            </template>
            <v-date-picker
                locale="pt"
                v-model="date"
                color="primary"
                no-title
                :max="max"
                @click:date="selectDate"
                @input="menu = false">
            </v-date-picker>
        </v-menu>
</template>
<style src="./DatePicker.scss" lang="scss" scoped></style>
<script src="./DatePicker.js" />
