@import '@/assets/styles/variables.scss';

.painel-group {
    background-color: $background-dark-4;
    border-radius: 10px;

    section.header {
        padding: 10px;
        height: 56px;
        display: flex;
        justify-content: space-between;

    }
    
    section.content {
        border-top: 1px solid $dark-gray;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                &:last-child td {
                    border-bottom: none;
                }

                td {
                    border-bottom: 1px solid $dark-gray;
                    padding: 10px;
                }
            }

            tfoot {
                border-top: 1px solid;
                font-weight: bold;
            }
        }

        .negative {
            color: $red;
        }
    }
}