<template>
    <div class="painel-group">
        <section class="header">
            <h4>Resultado</h4>
        </section>
        <section class="content">
            <table>
                <tbody>
                    <tr v-for="(group, index) in groups" :key="index">
                        <td data-cy="result-launch-description">{{ group.title }}</td>
                        <td data-cy="result-launch-planning">{{ group.planning | currency }}</td>
                        <td data-cy="result-launch-total" :class="isExpense(group) ? 'negative' : ''">{{ totalGroup(group) | currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Saldo</td>
                        <td :class="isNegative(result) ? 'negative' : ''">{{ result | currency }}</td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
</template>

<style src='./Result.scss' lang="scss" scoped/>
<script src='./Result.js' />
