main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .picker {
        .btn-picker {
            background: transparent;
            border: 1px solid #FFA73C;
            color: #FFA73C;
        }
    }

    #switch-menu {
        color: #929292;
        background-color: #3B3A3B;
        border-radius: 5px;
        display: flex;

        span {
            padding: 5px 10px;
            cursor: default;

            &.active {
                background-color: #FFA73C;
                border-radius: inherit;
                color: white;
            }
        }
    }

    form {
        padding: 20px;
        .content-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            .v-color-picker {
                align-self: center;
            }
        }
    }

    .options {
        display: flex;
        grid-gap: 10px;
    }
}