<template>
    <main>
        <div class="picker">
            <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn class="btn-picker"
                        v-bind="attrs"
                        v-on="on">
                        {{ formatted }}
                    </v-btn>
                </template>
                <v-date-picker
                    v-model="date"
                    locale="pt-br"
                    type="month"
                    :dark=true
                    color="#FFA73C"
                    @change="selectDate"
                    @input="menu2 = false">
                </v-date-picker>
            </v-menu>
        </div>
        <div id="switch-menu">
            <span v-for="(menu, i) in menus" :key="i"
                :class="{ active: menu.active }"
                @click="selectMenu(menu)"
                v-ripple>{{ menu.title }}</span>
        </div>
        <div class="options">
            <dialog-launch :monthYear="formatted"></dialog-launch>
            <v-btn color="secondary" @click.stop="newGroup()">Novo Grupo</v-btn>
            <v-navigation-drawer
                v-model="drawer"
                absolute
                temporary
                width="30vw">
                <form v-if="drawer">
                    <v-text-field label="Título" outlined v-model="group.title"></v-text-field>
                    <div class="content-picker">
                        <label>Cor de Fundo</label>
                        <v-color-picker dot-size="25" swatches-max-height="200" mode="hexa" v-model="group.styles.background"></v-color-picker>
                    </div>
                    <div class="content-picker">
                        <label>Cor da Fonte</label>
                        <v-color-picker dot-size="25" swatches-max-height="200" mode="hexa" v-model="group.styles.color"></v-color-picker>
                    </div>
                    <v-btn color="primary" style="width:100%" @click="saveGroup()">{{ group._id ? 'Atualizar' : 'Criar' }}</v-btn>
                </form>
            </v-navigation-drawer>
        </div>
    </main>
</template>
<style src="./SwitchMenu.scss" lang="scss" scoped />
<script src="./SwitchMenu.js"></script>
