<template>
    <div id="sidebar">
        <avatar name="Luiz Henrique" profile="Administrativo" />
        <hr>
        <router-link v-for="(option, key) in options" class="option" :key="key" :to="{ name: option.router }">
                <i :class="option.icon"></i>
                {{ option.title }}
        </router-link>
    </div>
</template>
<style src="./Sidebar.scss" lang="scss" scoped></style>
<script src="./Sidebar.js"></script>
