@import '@/assets/styles/variables.scss';

#sidebar {
    background: $gradient-blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        width: 100%;
        margin-top: 10px;
        border-color: #ffffff30;
    }

    .option {
        &:hover {
            background-color: rgba($black, .3);
            border-radius: 10px;
        }

        i {
            margin-right: 25px;
        }

        transition: all ease-in-out 150ms;
        width: 100%;
        font-size: 20px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 10px 20px;
        margin-bottom: 10px;
        cursor: default;
        user-select: none;
        text-decoration: none;
    }
}