@import "@/assets/styles/variables.scss";

span {
    // background: linear-gradient(45deg, red, orange);
    padding: 10px 40px;
    border-radius: 10px;
    color: $white;
    font-size: 15px;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: -20px;
}