@import "@/assets/styles/variables.scss";
@import "@/assets/styles/default-classes.scss";

ul {
    list-style: none;
    padding-inline-start: 0px;
    li {
        div.title {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            padding: 15px 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        div.launches {
            display: grid;
            grid-template-columns: 120px 3fr 2fr 120px 100px;
            align-items: center;
            width: 100%;
            margin-bottom: 2px;
            span {
                padding: 15px 20px;
            }
            &:last-child {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                margin-bottom: 0px;
            }
        }
    }
}