<template>
   <ul>
       <li>
           Ainda não existem lançamentos
       </li>
        <li v-for="(category, index) in categoriesWithLaunches" :key=index>
            <div :class="[isIncome(category) ? 'title-income' : 'title-expense', 'title']">
                <span id="name-category">{{ category.name }}</span>
                <span id="total">{{ totalCategory(category) | currency }}</span>
            </div>
            <div :class="[isIncome(category) ? 'launches-income' : 'launches-expense', 'launches']"
                v-for="(launch, index) in category.launches" :key=index>
                <span>{{ launch.date | formateDate('DD/MM/YYYY') }}</span>
                <span>{{ launch.description }}</span>
                <span class="text-center">{{ launch.status }}</span>
                <span class="text-center">{{ launch.value | currency }}</span>
                <span class="text-center"></span>
            </div>
        </li>
   </ul>
</template>
<style src="./Table.scss" lang="scss" scoped />
<script src="./Table.js">
