@import '@/assets/styles/variables.scss';

#avatar {
    .avatar-photo {
        height: 100px;
        width: 100px;
        background-color: $gray-light;
        border-radius: 10px;
        box-shadow: 0 0 10px #0000006b;
    }

    .user-info {
        margin-top: 20px;
        color: $white;
        text-align: center;
        .name {
            font-weight: bold;
        }
    }
}