<template>
    <div id="avatar">
        <div class="avatar-photo"></div>
        <div class="user-info">
            <span class="name">{{ name }}</span><br>
            <span class="perfil">{{ profile }}</span>
        </div>
    </div>
</template>
<style  src="./Avatar.scss" lang="scss" scoped></style>
<script src="./Avatar.js"></script>
