@import '@/assets/styles/variables.scss';

.theme--dark.v-navigation-drawer {
   background-color: $background-dark-4;

   &:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
      background-color: transparent;
   }
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
   background-color: $background-dark-4;
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
   box-shadow: none;
}

.theme--dark.v-application {
   background: $background-dark;
}

::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-track {
   background-color: $background-dark-4;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: linear-gradient(45deg, $primary-color, $background-dark);
}