<template>
  <v-app>
    <v-navigation-drawer app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Pengurus
          </v-list-item-title>
          <v-list-item-subtitle>
            Gestão Financeira
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.route"
          color="primary"
          link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <!-- -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
<style src="./app.scss" lang="scss" />
<script>
import { EVENT_BUS } from '@/support/util/event-bus.js'

export default {
  created () {
    EVENT_BUS.$on('messages', this._showMessages)
  },

  data () {
    return {
      items: [
        { title: 'Dashboard', icon: 'fab fa-uncharted', route: '/dashboard' },
        { title: 'Planejamento', icon: 'fas fa-balance-scale-left', route: '/planning' },
        { title: 'Investimentos', icon: 'far fa-gem', route: '/investiment' }
      ],
      right: null,
      message: undefined,
      typeMessage: undefined,
      alert: false
    }
  },

  methods: {
    _showMessages (message) {
      const { type, text } = message
      this.message = text
      this.typeMessage = type
      this.alert = true
      setTimeout(_ => (this.alert = !this.alert), 3000)
    }
  }
}
</script>
