@import '@/assets/styles/variables.scss';

#card-page {
    .header {
        .title {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;
        }

        #actions {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            #picker {
                max-width: 250px;
            }
        }
    }

    .content {
        margin-top: 15px;
        
        .info-card {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}