<template>
    <section id="card-page">
        <div class="header">
            <div class="title">
                <v-btn @click="back"
                    fab
                    small
                    color="grey darken-3">
                    <v-icon small>
                        fa-solid fa-arrow-left
                    </v-icon>
                </v-btn>

                <h1>Cartão</h1>
            </div>

            <div id="actions">
                <div id="picker">
                    <picker label="Fatura do mês"
                        @change-month="listLaunchesCard"/>
                </div>

                <v-switch
                    v-model="groupMode"
                    inset
                    :label="`Modo: ${groupMode ? 'Grupo' : 'Lista'}`">
                </v-switch>
            </div>
        </div>
        <main class="content">

            <div class="info-card">
                <card :info="card" v-if="card">
                </card>

                <v-btn @click="registerLaunch"
                    data-cy="button-register-category"
                    color="primary"
                    small
                    rounded>
                    Novo Lançamento
                </v-btn>
            </div>

            <section :is=currentContent
                :changeContent=changeContent
                :editLaunch=editLaunch
                :launches=cardLaunches
                :groupMode=groupMode
                @edit-launch="updateLaunch"
                class="content">
            </section>
        </main>
    </section>
</template>
<style src="./Card.scss" lang="scss" scoped />
<script src="./Card.js"></script>
