$red: #BD211B;
$green: #4CAF50;
$gray: #262626;
$red-dark:#460C0C;
$green-dark: #0B390E;
$gray-light: #C2C2C2;

$blue: #0b508e;
$blue-dark: #2a3863;
$blue-light: #556080;

$black: #000;
$white: #fff;

$gradient-blue: linear-gradient($blue, #137b76);


// Pallet Colors

// Main Primary color */
$color-havelock-0: #3E8CD2;
$color-havelock-1: #8DBFEB;
$color-havelock-2: #6CAAE2;
$color-havelock-3: #136FC1;
$color-havelock-4: #095AA2;

// Main Secondary color (1) */
$color-shamrock-0: #4ECCA3;
$color-shamrock-1: #A9F0D9;
$color-shamrock-2: #83E4C4;
$color-shamrock-3: #27B183;
$color-shamrock-4: #10A675;

// Main tertiary color */
$color-mustard-0: #FFDA4C;
$color-mustard-1: #FFEA9A;
$color-mustard-2: #FFE379;
$color-mustard-3: #F6C817;
$color-mustard-4: #CEA509;

// Main Complement color */
$color-thunderbird-0: #B82930;
$color-thunderbird-1: #F77E84;
$color-thunderbird-2: #DD575E;
$color-thunderbird-3: #8B0B11;
$color-thunderbird-4: #6E0006;

// Theme
$background-dark: #1F2328;
$background-dark-4: #232931;

$primary-color: $color-havelock-0;
$primary-color-30: $color-havelock-2;
$primary-color-50: $color-havelock-4;
$primary-text-color: #FFEDED;

$secondary-color: $color-shamrock-0;
$secondary-color-30: $color-shamrock-2;
$secondary-color-50: $color-shamrock-4;

$tertiary-color: $color-mustard-0;
$tertiary-color-30: $color-mustard-2;
$tertiary-color-50: $color-mustard-4;

$dark-gray: #575555;