main {
    background-color: #3B3A3B;
    border-radius: 5px;
    padding: 0 10px;

    .over {
        border: 3px dashed;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .title {
            flex: auto;
            text-align: center;
            padding: 5px 0;
        }
    }

    ul {
        list-style: none;
        line-height: 35px;
        padding: 0;

        li {
            display: flex;
            &:not(:last-child) {
                border-bottom: 1px solid black;
            }

            &:hover {
                span.options button { display: block;}
            }

            span {
                display: flex;
                flex: 1;
                padding: 0 10px;
                align-items: flex-end;

                &.options {
                    display: flex;
                    justify-content: flex-end;
                    grid-gap: 5px;

                    button { display: none; }
                }
            }
        }
    }
}