<template>
    <main :style="{ background: group.styles.background, color: group.styles.color }"
        :class="{ over }"
        @dragstart="$emit('dragstart', $event)"
        @dragend="$emit('dragend', $el, $event)"
        @dragover.prevent="$emit('dragover', $el)"
        @drop.prevent="$emit('drop', $event)"
        @dragenter.prevent="over = true"
        @dragleave="over = false">
        <section class="header">
            <h3 class="title">{{ group.title }}</h3>
            <v-btn icon @click="editGroup()">
                <v-icon small :color="group.styles.color">fas fa-cog</v-icon>
            </v-btn>
        </section>
        <ul>
            <li v-if="!group.launches.length"><span style="justify-content:center">Nenhum lançamento!</span></li>
            <li v-for="(launch, i) in group.launches" :key="i" :style="{ 'border-bottom-color': group.styles.color }">
                <span>{{ launch.description }}</span>
                <span>{{ launch.value | currency }}</span>
                <span>{{ launch.status | uppercase }}</span>
                <span class="options">
                    <v-btn
                        fab
                        x-small
                        color="green"
                        elevation="0"
                        @click="switchToPay(launch)"
                        v-if="launch.status == 'Agendado'">
                        <v-icon x-small>far fa-check-square</v-icon>
                    </v-btn>
                    <v-btn
                        fab
                        x-small
                        color="orange"
                        elevation="0"
                        @click="editLaunch(launch)">
                        <v-icon x-small>far fa-edit</v-icon>
                    </v-btn>
                </span>
            </li>
        </ul>
    </main>
</template>
<style src="./GroupList.scss" lang="scss" scoped />
<script src="./GroupList.js"></script>
