@import "@/assets/styles/variables.scss";

.status {
    font-size: 10px;
    color: $white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.bg-green {
    background-color: $green;
    &:hover { background-color: darken($color: $green, $amount: 10) }
}
.bg-red {
    background-color: $red;
    &:hover { background-color: darken($color: $red, $amount: 10) }
}