<template>
    <span :class="[isSchedule(launch) ? 'bg-red' : 'bg-green', 'status']"
        @click="readOnlyStatus ? null : setStatus(launch)">
        {{ isSchedule(launch) ? "Agendado" : "Pago" }}
    </span>
</template>
<style src="./StatusBudget.scss" lang="scss" scoped></style>
<script src="./StatusBudget.js" />
